<html>
  <head>
    <title>Proof Approval</title>
  </head>
  <body>
    <h1>Hello {{name}},</h1>
    <p>Congratulations! Your proof for the activity "{{activity.name}}" has been
      approved.</p>
    <p>Thank you for your participation.</p>
  </body>
</html>